body {
  background-image: url('https://source.unsplash.com/user/tylerhevia/likes/1600x900');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
}

#app {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  width: 100%;
}

video {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 132px;
  margin: 0 0;
  text-align: center;
}

input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  height: 40px;
  width: 40%;
}

ul {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 70%;
}

li {
  font-size: 24px;
  text-align: center;
}

li:hover {
  background-color: white;
  cursor: pointer;
}

button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  color: #6a6a6a;
  cursor: pointer;
  font-size: 32px;
  height: 50px;
  width: 20%;
}

button:hover {
  color: white;
}

.message {
  font-size: 32px;
  text-align: center;
}

.welcome-page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.welcome-div {
  width: 100%;
}

.welcome-search-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.welcome-search {
  color: white;
  font-size: 32px;
  height: 50px;
  text-align: center;
  width: 70%;
}

.main-page-search {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.main-page-search input,
.main-page-search button {
  font-size: 16px;
  height: 30px;
  width: 30%;
}

.main-page-search ul {
  font-size: 16px;
  width: 30%;
}

.main-page-search,
button {
  margin-top: 20px;
}

.search-general {
  text-align: center;
  width: 70%;
  height: 50px;
  font-size: 32px;
  color: black;
}

.current-date {
  font-size: 32px;
  margin: 0;
}

.current-image {
  height: 300px;
  margin-top: -50px;
  width: 300px;
}

.currentWeather {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-and-date {
  align-items: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.current-temp {
  font-size: 160px;
  margin: 0;
  margin-top: -50px;
}

.daily-low,
.daily-high {
  background: white;
  color: black;
  border: 1px solid black;
  font-size: 32px;
  opacity: 0.6;
  text-align: center;
  width: 40%;
}

.low-high {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.hourly-weather {
  text-align: center;
  margin: 0 auto;
  display: flex;
  width: 80%;
}

.description {
  font-size: 32px;
  margin: 40px auto;
  text-align: center;
  width: 80%;
}

.hourly-card {
  background-color: rgba(75, 75, 75, 0.5);
  width: calc(100% / 7);
}

.hourly-image {
  height: 100px;
  width: 100px;
}

.hour,
.hourly-temperature {
  font-size: 24px;
}

.daily-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.day {
  align-items: center;
  background-color: rgba(75, 75, 75, 0.5);
  border: 1px solid black;
  display: flex;
  height: 100px;
  justify-content: space-around;
  width: 80%;
}

.day-name,
.day-low,
.day-high {
  font-size: 24px;
}

.day-image {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 1200px) {
  .current-city {
    font-size: 65px;
  }

  .current-temp {
    font-size: 48px;
  }

  .current-image {
    height: 200px;
    width: 200px;
  }

  .current-city,
  .current-temp,
  .current-image {
    margin: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .daily-low,
  .daily-high {
    font-size: 32px;
  }

  .hour,
  .hourly-temperature,
  .day-name,
  .day-low,
  .day-high {
    font-size: 20px;
  }

  .hourly-image,
  .day-image {
    height: 50px;
    width: 50px;
  }
}
