body {
  background-image: url('http://bestanimations.com/Nature/Water/rain/rain-nature-animated-gif-21.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 48px;
}

input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  height: 40px;
  width: 40%;
}

button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  color: #6A6A6A;
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  margin-left: 20px;
  width: 10%;
}

button:hover {
  color: white;
}

.search-bar {
  text-align: center;
}

.welcome-message {
  font-size: 100px;
  margin-bottom: 1000px;
  padding-top: 100px;
}

.current-image {
  height: 150px;
  width: 150px;
}

.currentWeather {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-and-date {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.currentTemp {
  font-size: 160px;
  margin: 100px auto;
}

.daily-low,
.daily-high {
  font-size: 32px;
  text-align: center;
  width: 50%;
}

.low-high {
  display: flex;
  justify-content: center;
  width: 20%;
}

.hourly-weather {
  text-align: center;
  margin: 50px auto;
  display: flex;
  width: 80%;
}

.hourly-card {
  width: calc(100% / 7);
}

.daily-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.day {
  align-items: center;
  background-color: rgba(75, 75, 75, 0.5);
  border: 1px solid black;
  display: flex;
  height: 80px;
  justify-content: space-around;
  width: 80%;
}
